@use "./base.scss";
@use "./colors.css";

// put your custom CSS here!
.contains-task-list::before {
    text-decoration: revert !important
}
ul > li:has(input:not([checked])) {
    text-decoration: none !important;
}
@media (width < 800px) {
    .page-title {
        margin-top: -20px;
    }
}