@use "./base.scss";

// put your custom CSS here!
.contains-task-list::before {
    text-decoration: revert !important
}
ul > li:has(input:not([checked])) {
    text-decoration: none !important;
}

.code-variable {
    color: #D19A66;
    font-weight: bold;
}

h1 {
    color: #db7cdd;
}

